#one{


    text-align: center;

    color: blue;
}

#two{


    text-align: center;

    font-style: oblique;

    

    font-size: x-large;

    
}

#three{

    font-style: oblique;

    font-size:small;

    color: red;
    
}